/*
* {
  box-sizing: border-box;
}
*/



.navbox{
  top:0;
  left:0;
  background-image: url("../images/bridge9.jpg");
  background-size: cover;
  opacity: 6;
  height: 125px;
  width: 101%;
  position:fixed;
  z-index: 5000px;
  background-color: solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
 }

.navlink1, .navlink2, .navlink3, .navlink4{
  margin-top: 30px;
  margin-left: 160px;
  height:50px;
  width:50px;
  margin-right: 100px;
  font-size: 25px;
  font-weight: bold;
  flex-direction: row;
  flex:1;
 }

.navlink1 a, .navlink2 a, .navlink3 a, .navlink4 a{
  text-decoration: none;
  display:inline-block;
  border-radius: 50px;
  padding: 10px;
  font-family: arial;
  color: #ff00aa;
 }

/*.n-link{
    transition: 1s;
    color: #ff00aa;
 }
*/
/*.n-link:hover, a.selected{
 font-size: 30px;
 }

 a.selected{
  background-color: #ff00aa;
  color: black;
 }
*/

.navlink1 a:hover, .navlink2 a:hover, .navlink3 a:hover{
   background-color: #ff00aa;
   font-size: 30px;
   color: black; 
   transition: .6s background-color;
   text-decoration: none;
   transform: scale(.9);
}

.navlink1 .target, .navlink2 .target, .navlink3 .target{
   background-color: #ff00aa;
   font-size: 24px;
   color: black;
   cursor: default;
}

.projectTitle{
  font-family: arial;
  font-size: 32px;
 }


.project1, .project2, .project3, .project4{
  transition: 1s;
 }

.project1:hover, .project2:hover, .project3:hover, .project4:hover{
transform: scale(1.05);
}

.contactlink, .projectlink{
  opacity:8;
  font-weight: bold;
  color: black;
  font-family: arial;
 }

.main-bkgd1{
  height:100%;
  width:100%;
  background-image:url("../images/geo-building11.jpeg");
  position: absolute;
  z-index: -10000;
  background-attachment: fixed;
  overflow: hidden;
  background-size: contain;
  -webkit-animation: scrollpic 10s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation: scrollpic 10s linear infinite;
  animation-fill-mode: forwards;
 }

.main-bkgd2{
  top:0px;
  left: -.50px;
  height:100%;
  width:100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 27%, rgba(255, 255, 204,.7) 21%, rgba(255, 230, 255, .7) 70%);
  z-index: 1000;
  position: relative;
  overflow: hidden;
  background-size: cover;
  }

.main-bkgd3{
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 28%, rgba(255, 255, 204,.7) 21%, rgba(255, 230, 255, .7) 70%);
  z-index: 1000;
  position: relative;
  overflow: hidden;
  background-size: contain;
  }

@keyframes scrollpic{
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}

@-webkit-keyframes scrollpic {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}


.main-flower{
  background-image:url("../images/roses-pale2.png");
  background-size: cover;
  width: 500px;
  height: 500px;
  top: 450px;
  left:1025px;
  opacity: .5;
  position:absolute;
  z-index: 20000;
  flex:3;
 }
.main-flower2{
  background-image:url("../images/roses-pale2.png");
  background-size: cover;
  width: 500px;
  height: 500px;
  top: 5px;
  left:1200px;
  opacity: .5;
  position:absolute;
  z-index: 20000;
  flex:3;
 }
.main-flower3{
  background-image:url("../images/roses-paletop.png");
  background-size: cover;
  width: 500px;
  height: 450px;
  top: -150px;
  left:950px;
  opacity: .5;
  position:absolute;
  z-index: 20000;
  flex:3;
}
.main-flower4{
  background-image:url("../images/geo-red-dots.jpeg");
  background-size: cover;
  width:290px;
  height:325px;
  top: 500px;
  left: 29px;
  opacity: .35;
  position:absolute;
  z-index: 20000;
  flex:3;
}

.main-flower5{
  background-image:url("../images/pinkrose-bouquet2.jpg");
  background-size: cover;
  width: 372px;
  height: 400px;
  top: 500px;
  left: -52px;
  opacity: .7;
  position:absolute;
  z-index: 20000;
  flex:3;
}

.introPic{
  background-image:url("../images/womantech-color.png");
  top:133px;
  width: 300px;
  height: 300px;
  margin-left:17px;
  background-size: cover;
  padding-bottom: 50px;
  position:absolute;
  z-index: 20000;
  flex direction: row;
  flex:2;
  opacity: .7;
}

.gear1{
  margin-top: 19px;
  margin-left:66px;
  height: 150px;
  width:100px;
  display:inline-block;
}

.gear2{
  margin-left:41px;
  height: 150px;
  width:100px;
  margin-top: -161px;
}

.gear3{
  margin-left:103px;
  height: 103px;
  width:111px;
  margin-top: -214px;
}

.dianeIntro{
  top:100px;
  left:351px;
  font-size: 26px;
  height: 200px;
  width: 52%;
  text-align: center;
  position:absolute;
  z-index: 20000;
  flex direction: row;
  flex:2;
 }



.typeIntro{
  overflow: hidden;
  /*white-space: nowrap;*/
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typeIntro 3.5s steps(40);
 }

/* The typeIntro effect */
@keyframes typeIntro {
  from { width: 0 ;}
  to { width: 100% ;}
}

/*.myname{
margin-left: 165px;
}*/

.myname, .ptext{
  text-align: center;
  width: 100%;
}

.techboxhdg{
height: 50px;
width: 225px;
margin-top: 50px;
margin-left: 263px;
font-family: arial;
text-transform: uppercase;
}

.tech-hdg{
  width: 100%;
  text-align: center;
}

.tech1:hover, .tech2:hover, .tech3:hover, .tech4:hover, .tech5:hover, 
.tech6:hover, .tech7:hover, .tech8:hover, .tech9:hover, .tech10:hover, 
.tech11:hover, .tech12:hover, .tech13:hover, .tech14:hover, .tech15:hover, a.c-link:hover{
  -webkit-filter: grayscale(0%) sepia(0%) brightness(115%) /*invert(0%)*/ contrast(150%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  /*overlay setup*/

  /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  
} 

.tech1, .tech2, .tech3, .tech4, .tech5, 
.tech6, .tech7, .tech8, .tech9, .tech10, 
.tech11, .tech12, .tech13, .tech14, .tech15, a.c-link{
  -webkit-filter: grayscale(38%) sepia(40%) /*invert(20%)*/ contrast(92%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%); 
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%); 
  -o-transition: .5s ease-in-out; 
}


.techbox{      /*styles area of in navbar container*/
    box-sizing: border-box;
    border: solid 6px;
    height: 100vh;
    flex: 1;
    width: 800px;
    top: 396px;
    left: 336px;
    position: absolute;
/*    background-color: rgba(17, 2, 33, 0.5);*/
    /*overflow-x: hidden; keeps the text from spilling into the navbar*/
    z-index: 100000;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 16% 16% 16%;
    grid-gap: 1em;
}

.techbox img{
    height: 100%;
    width: 100%;
}

.tech1back{
    background-color: black;
    grid-row-start:1;  grid-row-end: 2;
    grid-column-start: 1; grid-column-end: 2;
    opacity: 1;
}
.tech1{
/*    background-image: url('../images/tech-icons/CSS-trans.jpg');*/
    grid-row-start:1;  grid-row-end: 2;
    grid-column-start: 1; grid-column-end: 2;
    opacity: 1;
}
.tech2{
    /*background-image: url('HTML2.png');*/
    grid-row-start:1;  grid-row-end: 2;
    grid-column-start: 2; grid-column-end: 3;
}
.tech3{
    /*background-image: url('../images/tech-icons/javascript-trans.png');*/
    grid-row-start:1;  grid-row-end: 2;
    grid-column-start: 3; grid-column-end: 4;
}
.tech4{
    /*background-image: url('../images/tech-icons/jquery.jpg');*/
    grid-row-start:1;  grid-row-end: 2;
    grid-column-start: 4; grid-column-end: 5;
}

.tech5{
    /*background-image: url('../images/tech-icons/node-express-trans.jpg');*/
    grid-row-start: 1;  grid-row-end: 2;
    grid-column-start: 5; grid-column-end: 6;
}

.tech6{
    /*background-image: url('../images/tech-icons/reactjs-hex.jpg');*/
    grid-row-start:2;  grid-row-end: 3;
    grid-column-start: 1; grid-column-end: 2;
}

.tech7{
    /*background-image: url('../images/tech-icons/postgresql-trans.jpg');*/
    grid-row-start:2;  grid-row-end: 3;
    grid-column-start: 2; grid-column-end: 3;
}
.tech8{
    /*background-image: url('../images/tech-icons/git-color.jpg');*/
    grid-row-start:2;  grid-row-end: 3;
    grid-column-start: 3; grid-column-end: 4;
}
.tech9{
    /*background-image: url('../images/tech-icons/php-trans.png');*/
    grid-row-start:2;  grid-row-end: 3;
    grid-column-start: 4; grid-column-end: 5;
}
.tech10{
    /*background-image: url('../images/tech-icons/flexbox-square.png');*/
    grid-row-start:2;  grid-row-end: 3;
    grid-column-start: 5; grid-column-end: 6;
}

.tech11{
    /*background-image: url('../images/tech-icons/sublime2.jpg');*/
    grid-row-start: 3;  grid-row-end: 4;
    grid-column-start: 1; grid-column-end: 2;
}
.tech12{
    /*background-image: url('../images/tech-icons/grid.jpg');*/
    grid-row-start:3;  grid-row-end: 4;
    grid-column-start: 2; grid-column-end: 3;
}
.tech13{
    /*background-image: url('../images/tech-icons/rubyonrails.jpg');*/
    grid-row-start:3;  grid-row-end: 4;
    grid-column-start: 3; grid-column-end: 4;
}
.tech14{
    /*background-image: url('../images/tech-icons/jquery.jpg');*/
    grid-row-start:3;  grid-row-end: 4;
    grid-column-start: 4; grid-column-end: 5;
}

.tech15{
    /*background-image: url('../images/tech-icons/material-UI.png');*/
    grid-row-start: 3;  grid-row-end: 4;
    grid-column-start: 5; grid-column-end: 6;
}

.contactInfo{
  margin-top:14px;
  margin-left: 416px;
  /*height:auto;*/
  width:300px;
  padding: 150px;
  font-size: 17px;
  border-radius: 25px;
  color:black;
  background-image:url("../images/geo-building16.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  opacity: .6;
  z-index: 10000;
  position: absolute;
  flex direction: row;
  flex:2;
}

.projects{
  top:75px;
  left: 300px;
  height:1200px;
  width:800px;
  padding: 15px;
  color:black;
  border-radius: 25px;
  border: 10px rgb(240, 242, 119, .7)float:left;;
  border-color: yellow;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  display: inline-flex;
  flex-direction: row;
  z-index: 10000;
  position: absolute;
  flex direction: row;
  flex:2;
 }

.projectList{
  opacity:9;
  font-size: 12px;
  color: black;
  margin-left: 30px;
 }

.portfolio, .myBrand, .companies{
text-align: center;
 }

.myBrand{
  font-style:italic;
 }
.myName{
  color: blue;
 }

@-moz-keyframes scrolltext{
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-40%); }
}
@-webkit-keyframes scrolltext{
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-40%); }
}
@keyframes scrolltext {
 0%
 {
 -moz-transform: translateY(100%)*/; /* Firefox bug fix */
 -webkit-transform: translateY(40%); /* Firefox bug fix */
 transform: translateY(40%);
 }
 100%
 {
 -moz-transform: translateY(-40%); /* Firefox bug fix */
 -webkit-transform: translateY(-40%); /* Firefox bug fix */
 transform: translateY(-40%);
 }
}

.wrap{
  perspective: 800px;
  perspective-origin: 50% 100px;
}

.projectbox1{
  width: 510px
  height: 401px;
  border:black 3px;
}

.project4{
  background-image:url("../images/health_practitioner.png");
  background-size: cover;
  background-position: center;
  width: 400px;
  height: 300px;
  top: 150px;
  left: 30px;
  opacity: .8;
  position:absolute;
  border: 5px solid;
  z-index: 20000;
  flex:1;
}

  .project3{
    background-image:url("../images/travel-location-list.png");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    top: 150px;
    left:480px;
    opacity: .8;
    border: 5px solid;
    position:absolute;
    z-index: 20000;
    flex:1;
}

  .project1{
    background-image:url("../images/bubblepopmania.png");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    border: 5px solid;
    top: 150px;
    left:930px;
    opacity: .8;
    position:absolute;
    z-index: 20000;
    flex direction: row;
    flex:1;
}

  .project2{
    background-image:url("../images/ladyd_apothecary.png");
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 300px;
    top: 500px;
    border: 5px solid;
    left:30px;
    opacity: .8;
    position:absolute;
    z-index: 20000;
    flex direction: row;
    flex:1;
}

.project1box:hover{
    background-color: aqua;
}

.project2box:hover{
    background-color: green;
}

.project4box:hover{
    background-color: blue;
}

.contacthdg{
  top:100px;
  justify-content: center;
  text-align: center;
  flex:1;
  margin-left: 17px;
}

.contactbox {
    width: 380px;
    height: 500px;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-left: -30px;
}

.c-link{
  display: block;
}

a.c-link:hover{
  scale: 1.3.;
}

.p-link{
  margin-top:104px;
  width: 75px;
}

.contact-label{
  width:100%;
  height: 75px;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
  /*text-wrap: unrestricted;*/
  /*position: sticky;*/
  align-self: center;
}

.email{
  background-image:url("../images/gmail-icon.png");
  background-size: cover;
  background-position: center;
  width: 200px;
  height: 100px;
/*  top: 150px;
  left: 30px;*/
  opacity: .9;
  /*position:absolute;*/
  border: 5px solid;
  z-index: 20000;
  flex:1;
 /* margin-left: 73px;*/
}

  .linkedin{
    background-image:url("../images/linkedin-icon-black.png");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 100px;
/*    top: 150px;
    left: 300px;*/
    opacity: .9;
    /*position:absolute;*/
    border: 5px solid;
    z-index: 20000;
    flex direction: row;
    flex:1;
    margin-left: 73px;
  }

  .github{
    background-image:url("../images/GitHub-Mark-120px-plus.png");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 100px;
/*    top: 150px;
    left: 600px;*/
    opacity: .9;
    /*position:absolute;*/
    border: 5px solid;
    z-index: 20000;
    flex direction: row;
    flex:1;
    margin-left: 17px;
  }

  .emailhdg{
    text-align: center;
    font-family: arial;
  }
  .emailForm1{
    background-image: url("../images/geo-building18.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 161px;
    margin-left: 325px;
    width: 710px;
    height: 600px;
    /*display:flex;*/
    /*flex-direction:column;*/
    align-items: left;
    border: solid 3px;
    padding: 10px;

  }

.emailfield{
  color: darkblue;
  font-weight: bold;
  font-size: 22px;
  font-family: arial;
  display: inline-block;

}

.messagetext{
  color: darkblue;
  font-size: 18px;
  font-family: arial;
  height: 200px;
  width: 100%;
}

  input[type=text], input[type=email] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 50px;
}

.emailreply{
  margin-left: 50px;
}


  input[type=submit]{
    width: 100px;
    height: 60px;
    color:blue;
    left:500px;
    margin-left: 700px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: gray 2px;
}


   /*.emailbox{
    margin-top:300px;
    margin-left:625px;
    width: 600px;
    height: 500px;
    display:flex;
    /*flex-direction:column;*/
  /*  align-items: center;
    border: solid 3px;

  }*/
