
.navbox{
  top:0;
  left:0;
  background: linear-gradient(-150deg, #DDDDDD 5%, #C3FCFB 10%, #FBFCFC 20%, #C3FCFB 30%, #FBFCFC 20%, #DDDDDD 5%, #C3FCFB 10%);
  opacity: 6;
  border-bottom-width: 25px;
  border-bottom-color: green;
  height: 100px;
  width: 101%;
  position:relative;
  z-index: 5000px;
  background-color: solid black;
  display: flex;
  font-size: 20px;
}

.navlink1, .navlink2, .navlink3, .navlink4{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 100px;
  font-size: 25px;
  font-weight: bold;
  flex-direction: row;
  flex:1;
}

.projectTitle{
  font-family: arial;
  font-size: 32px;
}

a:hover, .contactlink, .projectlink{
    /*background-color: black;*/
    opacity:5;
    color:  blue;
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-line: none;
}

.contactlink, .projectlink{
  opacity:8;
  font-weight: bolder;
  color: black;
/*  outline-color: blue;*/
  /*font-size: 18px;*/
  font-family: arial;
}
.main-bkgd1{
  height:100%;
  width:100%;
  background-image:url("../images/geo-building11.jpeg");
/*  content:"";*/
/*  animation: fadepic .2s ease-out forwards;*/
  position: absolute;
  z-index: -10000;
/*  background-size: cover;*/
  background-attachment: fixed;
  overflow: hidden;
/*  background-repeat: no-repeat;
*/  background-size: contain;
  -webkit-animation: scrollpic 10s linear infinite;
  -webkit-animation-fill-mode: forwards;
  animation: scrollpic 10s linear infinite;
  animation-fill-mode: forwards;
}

.main-bkgd2{
  top:0px;
  left:0px;
  height:100%;
  width:100%;
/*  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 20%, #FEF9E7 21%, #FEF9E7 22%, #FEF5E7 24%, #FEFFD7 25%, pink 30%, pink 70%, #FEFFD7 75%, #FEFFD7 80%, #FEF5E7 82%, #F4F6F6 100%);
*/    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 27%, rgba(255, 255, 204,.7) 21%,  rgba(255, 230, 255, .7) 70%);
  z-index: 1000;
  position: relative;
  overflow: hidden;
  background-size: contain;
/*  transform: scaleY(1.5);
  -ms-transform: scaleY(1.5);  IE 9
  -webkit-transform: scaleY(1.5); /* Safari 3-8 */
  }

.main-bkgd3{
  top:0px;
  left:0px;
  height:100%;
  width:100%;
/*  background: linear-gradient(135deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.3) 20%, #FEF9E7 21%, #FEF9E7 22%, #FEF5E7 24%, #FEFFD7 25%, pink 30%, pink 70%, #FEFFD7 75%, #FEFFD7 80%, #FEF5E7 82%, #F4F6F6 100%);
*/    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3) 28%, rgba(255, 255, 204,.7) 21%,  rgba(255, 230, 255, .7) 70%);
  z-index: 1000;
  position: relative;
  overflow: hidden;
  background-size: contain;
/*  transform: scaleY(1.5);
  -ms-transform: scaleY(1.5);  IE 9
  -webkit-transform: scaleY(1.5); /* Safari 3-8 */
  }

@keyframes scrollpic{
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}

@-webkit-keyframes scrollpic {
    from {background-position: 0 0;}
    to {background-position: -180px 0px;}
}


.main-flower{
  background-image:url("../images/roses-pale2.png");
  background-size: cover;
  width: 500px;
  height: 500px;
  top: 450px;
  left:1025px;
  opacity: .5;
  position:absolute;
  z-index: 20000;
/*  flex direction: row;*/
  flex:3;
}
.main-flower2{
  background-image:url("../images/roses-pale2.png");
  background-size: cover;
  width: 500px;
  height: 500px;
  top: 5px;
  left:1200px;
  opacity: .5;
  position:absolute;
  z-index: 20000;
/*  flex direction: row;*/
  flex:3;
}
.main-flower3{
  background-image:url("../images/roses-paletop.png");
  background-size: cover;
  width: 500px;
  height: 450px;
  top: -150px;
  left:950px;
  opacity: .5;
  position:absolute;
  z-index: 20000;
/*  flex direction: row;*/
  flex:3;
}
.main-flower4{
  background-image:url("../images/roses-bouquet.png");
  background-size: cover;
  width: 450px;
  height: 400px;
  top: 500px;
  left:-100px;
  opacity: .7;
  position:absolute;
  z-index: 20000;
/*  flex direction: row;*/
  flex:3;
}

/*.dianeHdg{
  margin-top: 100px;
  padding-left:50px;
  height: 50px;
  width: 350px;
}
*/
.introPic{
  background-image:url("../images/dstukes2-oval.png");
  top:100px;
  width: 300px;
  height: 300px;
  margin-left:50px;
  background-size: cover;
  padding-bottom: 50px;
  position:absolute;
  z-index: 20000;
  flex direction: row;
  flex:2;
}

.dianeIntro{
  border:black;
  border-radius: 25px;
  margin-left: 50px;
  top:100px;
  left:400px;
  font-size: 30px;
  height: 200px;
  width: 650px;
  position:absolute;
  z-index: 20000;
  flex direction: row;
  flex:2;
}

.typeIntro{
  overflow: hidden;
  /*white-space: nowrap;*/
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typeIntro 3.5s steps(40);
}

/* The typeIntro effect */
@keyframes typeIntro {
  from { width: 0 ;}
  to { width: 100% ;}
}

.contactInfo{
  top:75px;
  left: 250px;
  height:400px;
  width:600px;
  padding: 150px;
  font-size: 17px;
  border-radius: 25px;
  color:black;
  background-image:url("../images/geo-building16.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  opacity: .6;
  z-index: 10000;
  position: absolute;
  flex direction: row;
  flex:2;
}

.projects{
  top:75px;
  left: 300px;
  height:600px;
  width:800px;
  padding: 15px;
  color:black;
  border-radius: 25px;
  border: 10px rgb(240, 242, 119, .7)float:left;;
  border-color: yellow;
/*  background-image:url("../images/geo-building8.jpeg");*/
  /*opacity: .6;*/
  background-repeat: no-repeat;
  background-size: cover;
  display: inline;
  display: inline-flex;
  flex-direction: row;


  z-index: 10000;
  position: absolute;
  flex direction: row;
  flex:2;
}

.projectList{
  opacity:9;
  font-size: 12px;
  color: black;
  margin-left: 30px;
}

.portfolio, .myBrand, .companies{
text-align: center;
}

.myBrand{
  font-style:italic;
}
.myName{
  color: bur;
}


/* font-size: 3em;
*/ position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 15px;
 text-align: center;
 /
 * beginning of scrolling text */
/* -moz-transform:translateY(40%);
 -webkit-transform:translateY(40%);*/
 transform:translateY(100%);

 -moz-animation: scrolltext 15s linear infinite;
 -webkit-animation: scrolltext 15s linear infinite;
 animation: scrolltext 15s linear infinite;
}

@-moz-keyframes scrolltext {
 0%   { -moz-transform: translateY(100%); }
 100% { -moz-transform: translateY(-40%); }
}
@-webkit-keyframes scrolltext {
 0%   { -webkit-transform: translateY(100%); }
 100% { -webkit-transform: translateY(-40%); }
}
@keyframes scrolltext {
 0%   /*{
 -moz-transform: translateY(100%)*/; /* Firefox bug fix */
 -webkit-transform: translateY(40%); /* Firefox bug fix */
 transform: translateY(40%);
 }
 100% {
 -moz-transform: translateY(-40%); /* Firefox bug fix */
 -webkit-transform: translateY(-40%); /* Firefox bug fix */
 transform: translateY(-40%);
 }
}

.wrap{
  perspective: 800px;
  perspective-origin: 50% 100px;
}



  .project2{
    background-image:url("../images/ladyd_apothecary.png");
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 400px;
    top: 50px;
    left:700px;
    opacity: .8;
    position:absolute;
    z-index: 20000;
  /*  flex direction: row;*/
    flex:1;
}

.project4{
  background-image:url("../images/health_practitioner.png");
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 400px;
  top: 50px;
  left: 170px;
  opacity: .8;
  position:absolute;
  z-index: 20000;
/*  flex direction: row;*/
  flex:1;
}

  .project1{
    background-image:url("../images/bubble_pop_mania.png");
    background-size: cover;
    background-position: center;
    width: 450px;
    height: 400px;
    top: 50px;
    left:-300px;
    opacity: .8;
    position:absolute;
    z-index: 20000;
  /*  flex direction: row;*/
  flex:1;
}

.projectlink{
/*  pointer-events: none;
  cursor: default;*/
  visibility: none;
}

